#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.full-app {
  border: 5px solid red
}

.title {
  border: 5px solid yellow
}

.spotify-bar {
  border: 5px solid pink;
}

.profile-bar {
  border: 5px solid lightskyblue
}

.playlist-bar {
  border: 5px solid rgb(255, 255, 255)
}

.playlist-form {
  border: 5px solid greenyellow
}